/* DeleteNote.module.css */

.button {
    cursor: pointer;

    padding-left: 30px;
    padding-right: 30px;
    
    border: none;
    background-color: #333333;
    
    color: #abb0f2;
}

.button:hover {
    background-color: #abb0f2;
    color: red;
}