/* UserDetail.module.css */

.container {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    color: #abb0f2;
}

.userInfo {
    margin-left: 10px;
    margin-right: 20px;
}

.button {
    margin-left: auto;
    cursor: pointer;

    height: 100%;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #333333;
    border-style: none;

    color: #abb0f2;
}

.button:hover {
    background-color: #abb0f2;
    color: #333333;
}