/* Logout.module.css */

.container {
    display: flex;
    align-items: center;
    float: left;

    height: 100%;
    width: 100px;

    box-sizing: border-box;

    color: #abb0f2;
}

.button {
    margin-left: auto;
    cursor: pointer;

    height: 100%;
    width: 100%;

    background-color: #333333;
    border-style: none;

    color: #abb0f2;
}

.button:hover {
    cursor: pointer;
    background-color: #abb0f2;
    color: red;
}